In [2]:
import pandas as pd

In [6]:
headphone_df = pd.read_csv('AllProductReviews.csv')

In [12]:
ranked_headphones = headphone_df[['ReviewBody', 'ReviewStar']].sort_values(by='ReviewStar')

In [13]:
ranked_headphones

                                              ReviewBody  ReviewStar
14336  M writing this review after using for almost 7...           1
7175   totally uncomfortable, poor sound quality, alw...           1
7167   Not satisfied with battery and its not stuck o...           1
7165   they are not comfortable ear start paining aft...           1
7153   Second time am facing the issue. Double voice ...           1
...                                                  ...         ...
7978   just awesome.....no words.....loved this....on...           5
1858                        This is excellent product.\n           5
1859   I got this headphone of rs.999 this product is...           5
7998   Very Best quality like Sony.Worth for money. B...           5
8762                   Good baas clear sound fantastic\n           5

[14337 rows x 2 columns]

In [14]:
def create_sentiment(int):
    if int > 3:
        return 2
    if int == 3:
        return 1
    if int < 3:
        return 0

In [17]:
ranked_headphones['sentiment'] = ranked_headphones['ReviewStar'].apply(create_sentiment)
ranked_headphones.sample(5)

,ReviewBody,ReviewStar,sentiment
1317,Sound quality is not good as expectation..... ...,2,0
1772,If you’re a music lover then you should try th...,5,2
13612,battery like no much\n,4,2
9524,Sennheiser always live up to expectations in t...,5,2
13441,Good product. Clear crystal sound.\n,4,2

In [19]:
def clean_commas(str):
    return str.replace(',', ';')

In [22]:
ranked_headphones['ReviewBody'] = ranked_headphones['ReviewBody'].apply(clean_commas)
ranked_headphones.sample(5)

,ReviewBody,ReviewStar,sentiment
5109,Terrible Bass\n,3,1
6812,Worst\n,2,0
11478,Good; genuine\n,5,2
7855,The product has issues every now and then in t...,3,1
6684,Awesome Product.\n,5,2

In [23]:
ranked_headphones.to_csv('ranked_headphones.csv')